* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(./assets/nature.jpg);
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background: rgba(168, 146, 146, 0.486);
}

h3 {
    background-color: rgb(59, 242, 8);
    color: white;
    padding: 20px;
}

a:hover {
    text-decoration: none;
    color: brown
}

table {
    width: 100%;
}

table th {
    background: green;
    color: #fff;
    padding: 10px;
}

table td {
    text-align: center;
    border: 1px solid #ddd;
}

iframe {
    width: 300px;
    height: 200px;
}

ul {
    list-style-type: circle;
}

h1 {
    border: 1px solid red;
}